<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.mallcat.dao.mapper.ProductSpecRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wzy.mallcat.dao.entity.ProductSpecRelation">
        <id column="id" property="id" />
        <result column="pdt_id" property="pdtId" />
        <result column="spec_id" property="specId" />
        <result column="spec_name" property="specName" />
        <result column="product_id" property="productId" />
        <result column="aliases" property="aliases" />
        <result column="pic_file_id" property="picFileId" />
        <result column="pic_file_path" property="picFilePath" />
    </resultMap>

</mapper>
